<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.monitor.mapper.StaffServiceSympathyMapper">
    <!--
    <insert id="SysSiteSetting" parameterType="com.ruoyi.project.monitor.domain.SysSiteSetting">
        insert into sys_sitesetting_basicinformation
            (id, sys_site_name, sys_site_slogan, sys_site_url, sys_site_logo, sys_site_favicon, sys_site_master_email, sys_site_icp, time)
        values (#{id}, #{sysSiteName}, #{sysSiteSlogan}, #{sysSiteUrl}, #{sysSiteLogo}, #{sysSiteFavicon}, #{sysSiteMasterEmail}, #{sysSiteIcp}, #{time})
    </insert>
       -->
    <insert id="StaffServiceSympathySetting" parameterType="com.ruoyi.project.monitor.domain.StaffServiceSympathy">
        insert into staff_service_sympathy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, created_userId, expense_orgId, orgId, type,
            sympathy_type, sympathy_time, submit_time, submit_status, funds_sources, sympathy_number,
            cover_type, sympathy_cost, remark, updated_time
        </trim>

        <trim prefix="select" suffixOverrides=",">
            #{id}, #{createdUserId}, #{expenseOrgId}, #{orgId}, #{type},
            #{sympathyType}, #{sympathyTime}, #{submitTime},
            #{submitStatus}, #{fundsSources}, #{sympathyNumber}, #{coverType},
            #{sympathyCost}, #{remark}, #{updatedTime},
        </trim>

    </insert>

    <update id="StaffServiceSympathyUpdate" parameterType="com.ruoyi.project.monitor.domain.StaffServiceSympathy">
        UPDATE staff_service_sympathy SET created_userId = #{createdUserId}, expense_orgId = #{expenseOrgId},
                                          orgId = #{orgId}, type = #{type}, sympathy_type = #{sympathyType},
                                          sympathy_time = #{sympathyTime}, submit_time = #{submitTime},
                                          submit_status = #{submitStatus},
                                          funds_sources = #{fundsSources}, sympathy_number = #{sympathyNumber},
                                          cover_type = #{coverType}, sympathy_cost = #{sympathyCost},
                                          remark = #{remark}, updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

    <update id="StaffServiceSympathySubmit" parameterType="com.ruoyi.project.monitor.domain.StaffServiceSympathy">
        UPDATE staff_service_sympathy SET submit_status = 1, updated_time = #{updateTime}, submit_time = #{submitTime}
        WHERE id = #{id}
    </update>

    <delete id="StaffServiceSympathyDelete">
        delete from staff_service_sympathy where id = #{id}
    </delete>

    <select id="StaffServiceSympathySearch" resultType="com.ruoyi.project.monitor.domain.StaffServiceSympathy">
        select id, created_userId as createdUserId, expense_orgId as expenseOrgId,
               orgId, type, sympathy_type as sympathyType, sympathy_time as sympathyTime,
                submit_time as submitTime, submit_status as submitStatus,
                funds_sources as fundsSources, sympathy_number as sympathyNumber,
                cover_type as coverType, sympathy_cost as sympathyCost, remark
        from staff_service_sympathy
        where 1=1
            and type = #{type}
        <if test="expenseOrgId != ''">
            and expense_orgId = #{expenseOrgId}
        </if>

        <if test="orgId != ''">
            and orgId = #{orgId}
        </if>

        <if test="status == 0">
            and orgId = #{createdUserOrg}
        </if>

        <if test="status == 1">
            and orgId in
            <foreach collection="sons" item="son" open="(" separator="," close=")" index="index">
                #{son}
            </foreach>
        </if>

        <if test="submitStatus != null">
            and submit_status = #{submitStatus}
        </if>
        limit #{pageSize} OFFSET #{index}

    </select>

    <select id="StaffServiceSympathyCount" resultType="java.lang.Integer">
        select count(id)
        from staff_service_sympathy
        where 1=1
            and type = #{type}
        <if test="expenseOrgId != ''">
            and expense_orgId = #{expenseOrgId}
        </if>

        <if test="orgId != ''">
            and orgId = #{orgId}
        </if>

        <if test="status == 0">
            and orgId = #{createdUserOrg}
        </if>

        <if test="status == 1">
            and orgId in
            <foreach collection="sons" item="son" open="(" separator="," close=")" index="index">
                #{son}
            </foreach>
        </if>

        <if test="submitStatus != null">
            and submit_status = #{submitStatus}
        </if>

    </select>

    <select id="StaffServiceSympathySearchOrg" resultType="java.lang.Integer">
        select orgId
        from staff_service_sympathy
        where id = #{id}
    </select>

    <select id="StaffServiceSympathyGetOrg" resultType="java.lang.String">
        select name
        from org
        where id = #{orgId}
    </select>

    <select id="StaffServiceSympathySearchBelowOrg" resultType="java.lang.Integer">
        select id
        from org
        where parentId = #{id}
    </select>

    <select id="StaffServiceSympathyFindSon" resultType="com.ruoyi.project.monitor.domain.StaffServiceSympathyFindSon">
        select id, orgCode
        from org
    </select>


    <select id="StaffServiceSympathyFindCreaterName" resultType="java.lang.String">
        select truename
        from user_profile
        where id=#{createdUserId}
    </select>
</mapper>