<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.monitor.mapper.SysSiteEmailSettingMapper">
    <!--
    <insert id="SysSiteSetting" parameterType="com.ruoyi.project.monitor.domain.SysSiteSetting">
        insert into sys_sitesetting_basicinformation
            (id, sys_site_name, sys_site_slogan, sys_site_url, sys_site_logo, sys_site_favicon, sys_site_master_email, sys_site_icp, time)
        values (#{id}, #{sysSiteName}, #{sysSiteSlogan}, #{sysSiteUrl}, #{sysSiteLogo}, #{sysSiteFavicon}, #{sysSiteMasterEmail}, #{sysSiteIcp}, #{time})
    </insert>
       -->

    <insert id="SysSiteEmailSetting" parameterType="com.ruoyi.project.monitor.domain.SysSiteEmailSetting">
        insert into sys_sitesetting_emailsetting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="emailOpenStatus != null and emailOpenStatus != ''">
                email_open_status,
            </if>
            <if test="smtpServerAddress != null and smtpServerAddress != ''">
                smtp_server_address,
            </if>
            <if test="smptPortNumber != null and smptPortNumber != ''">
                smpt_port_number,
            </if>
            <if test="smptUserName != null and smptUserName != ''">
                smpt_user_name,
            </if>
            <if test="smptAuthorizationCode != null and smptAuthorizationCode != ''">
                smpt_authorization_code,
            </if>
            <if test="smptEmailAddress != null and smptEmailAddress != ''">
                smpt_email_address,
            </if>
            <if test="emailSenderName != null and emailSenderName != ''">
                email_sender_name,
            </if>
            time
        </trim>



        <trim prefix="select" suffixOverrides=",">
            #{id},
            <if test="emailOpenStatus != null and emailOpenStatus != ''">
                #{emailOpenStatus},
            </if>
            <if test="smtpServerAddress != null and smtpServerAddress != ''">
                #{smtpServerAddress},
            </if>
            <if test="smptPortNumber != null and smptPortNumber != ''">
                #{smptPortNumber},
            </if>
            <if test="smptUserName != null and smptUserName != ''">
                #{smptUserName},
            </if>
            <if test="smptAuthorizationCode != null and smptAuthorizationCode != ''">
                #{smptAuthorizationCode},
            </if>
            <if test="smptEmailAddress != null and smptEmailAddress != ''">
                #{smptEmailAddress},
            </if>
            <if test="emailSenderName != null and emailSenderName != ''">
                #{emailSenderName},
            </if>
            #{time}
        </trim>

    </insert>

</mapper>