<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.monitor.mapper.SysSiteSettingMapper">
    <!--
    <insert id="SysSiteSetting" parameterType="com.ruoyi.project.monitor.domain.SysSiteSetting">
        insert into sys_sitesetting_basicinformation
            (id, sys_site_name, sys_site_slogan, sys_site_url, sys_site_logo, sys_site_favicon, sys_site_master_email, sys_site_icp, time)
        values (#{id}, #{sysSiteName}, #{sysSiteSlogan}, #{sysSiteUrl}, #{sysSiteLogo}, #{sysSiteFavicon}, #{sysSiteMasterEmail}, #{sysSiteIcp}, #{time})
    </insert>
       -->

        <insert id="SysSiteSetting" parameterType="com.ruoyi.project.monitor.domain.SysSiteSetting">
            insert into sys_sitesetting_basicinformation
            <trim prefix="(" suffix=")" suffixOverrides=",">
                id,
                <if test="sysSiteName != null and sysSiteName != ''">
                    sys_site_name,
                </if>

                sys_site_slogan, sys_site_url, sys_site_logo,
                sys_site_favicon, sys_site_master_email, sys_site_icp,time
            </trim>



            <trim prefix="select" suffixOverrides=",">
                #{id},
                <if test="sysSiteName != null and sysSiteName != ''">
                    #{sysSiteName},
                </if>
                #{sysSiteSlogan}, #{sysSiteUrl}, #{sysSiteLogo}, #{sysSiteFavicon},
                #{sysSiteMasterEmail}, #{sysSiteIcp}, #{time}
            </trim>

        </insert>

    <update id="SysSiteUpdate" parameterType="com.ruoyi.project.monitor.domain.SysSiteSetting">
        UPDATE sys_sitesetting_basicinformation SET sys_site_name = #{sysSiteName}, sys_site_slogan = #{sysSiteSlogan},
                                                    sys_site_url = #{sysSiteUrl}, sys_site_logo = #{sysSiteLogo},
                                                    sys_site_favicon = #{sysSiteFavicon}, sys_site_master_email= #{sysSiteMasterEmail},
                                                    sys_site_icp = #{sysSiteIcp}
WHERE id = #{id}
    </update>

    <select id="SysSiteGetting" resultType="com.ruoyi.project.monitor.domain.SysSiteSetting">
        select id, sys_site_name as sysSiteName, sys_site_slogan as sysSiteSlogan, sys_site_url as sysSiteUrl,
               sys_site_logo as sysSiteLogo, sys_site_favicon as sysSiteFavicon, sys_site_master_email as sysSiteMasterEmail,
               sys_site_icp as sysSiteIcp, time
        from sys_sitesetting_basicinformation
        limit 1
    </select>

</mapper>