<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.monitor.mapper.WebTagDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, createdTime, orgId, orgCode
    </sql>

<!--    <select id="GetWebTags" resultType="com.ruoyi.project.monitor.domain.WebTag">
        SELECT tag.id,tag.name,tag.createdTime,GROUP_CONCAT(tag_group.name) as groupName, tag.orgId, tag.orgCode
        FROM (tag LEFT JOIN tag_group_tag ON tag.id=tag_group_tag.tagId) LEFT JOIN tag_group ON tag_group_tag.groupId=tag_group.id
        GROUP BY tag.name
        ORDER BY id
        limit ${pagesize} OFFSET ${index}
    </select>-->

</mapper>
