<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.unionhelp.mapper.ManageClassMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company, leaderUserId, startTime, endTime, classNum, willNum, money, joinNum, holdForm, teacherSource, site,
         moneySource, outNewNum, inNewNum, otherNewNum, content, remark, isCommit, orgId, createUserId, updateUserId,
         createdTime, updatedTime
    </sql>

    <insert id="InsertManageClass" parameterType="com.ruoyi.project.unionhelp.mapper.ManageClassMapper">
        insert into manage_class (company, leaderUserId, startTime, endTime, classNum, willNum, money, joinNum,
        holdForm, teacherSource, site, moneySource, outNewNum, inNewNum, otherNewNum, content, remark, isCommit, orgId,
        createUserId, updateUserId, createdTime, updatedTime) values (#{company}, #{leaderUserId}, #{startTime},
        #{endTime}, #{classNum}, #{willNum}, #{money}, #{joinNum}, #{holdForm}, #{teacherSource}, #{site}, #{moneySource},
        #{outNewNum}, #{inNewNum}, #{otherNewNum}, #{content}, #{remark}, #{isCommit}, #{orgId}, #{createUserId},
        #{updateUserId}, #{createdTime}, #{updatedTime})
    </insert>

    <select id="SearchManageClassById" resultType="com.ruoyi.project.unionhelp.entity.VO.ManageClassVO1">
        select manage_class.id, company, leaderUserId, startTime, endTime, classNum, willNum, money, joinNum, holdForm,
        teacherSource, site, moneySource, outNewNum, inNewNum, otherNewNum, content, remark, isCommit,
        group_concat(upload_files.id) as fileId, group_concat(filename), group_concat(fileSize)
        from manage_class
        left join upload_files
        on manage_class.id=upload_files.targetId and upload_files.targetType='manage_class'
        where manage_class.id=#{id}
        group by manage_class.id
    </select>



    <update id="UpdateManageClass" parameterType="com.ruoyi.project.unionhelp.entity.ManageClass">
        update manage_class
        set company = #{company}, leaderUserId = #{leaderUserId}, startTime = #{startTime}, endTime = #{endTime},
        classNum = #{classNum}, willNum = #{willNum}, money = #{money}, joinNum = #{joinNum}, holdForm = #{holdForm},
        teacherSource = #{teacherSource}, site = #{site}, moneySource = #{moneySource}, outNewNum = #{outNewNum},
        inNewNum = #{inNewNum}, otherNewNum = #{otherNewNum}, content = #{content}, remark = #{remark},
        isCommit = #{isCommit}, orgId = #{orgId}, updateUserId = #{updateUserId}, updatedTime = #{updatedTime}
        where id=#{id}
    </update>

    <select id="GetManageClasses" resultType="com.ruoyi.project.unionhelp.entity.VO.ManageClassVO">
        select manage_class.id, manage_class.company, truename as trueName, mobile, startTime, classNum, willNum, joinNum
        from manage_class
        left join user_profile
        on manage_class.leaderUserId=user_profile.id
        order by manage_class.id desc
        Limit #{pagesize} OFFSET #{index}
    </select>

    <select id="GetManageClassNum" resultType="java.lang.Integer">
        select count(*)
        from manage_class
        left join user_profile
        on manage_class.leaderUserId=user_profile.id
        where 1=1
        <if test="company != null">
            and manage_class.company like concat('%',#{company},'%') escape '/'
        </if>

        <if test="trueName != null">
            and truename like concat('%',#{trueName},'%') escape '/'
        </if>

        <if test="mobile != null">
            and mobile like concat('%',#{mobile},'%') escape '/'
        </if>

    </select>

    <select id="SelectManageClasses" resultType="com.ruoyi.project.unionhelp.entity.VO.ManageClassVO">
        select manage_class.id, manage_class.company, truename as trueName, mobile, startTime, classNum, willNum, joinNum
        from manage_class
        left join user_profile
        on manage_class.leaderUserId=user_profile.id
        where 1=1
        <if test="company != null">
            and manage_class.company like concat('%',#{company},'%') escape '/'
        </if>

        <if test="trueName != null">
            and truename like concat('%',#{trueName},'%') escape '/'
        </if>

        <if test="mobile != null">
            and mobile like concat('%',#{mobile},'%') escape '/'
        </if>
        order by manage_class.id desc
        Limit #{pagesize} OFFSET #{index}
    </select>

    <select id="GetExportData" resultType="com.ruoyi.project.unionhelp.entity.DO.ManageClassExportDO">
        select manage_class.id, manage_class.company, leaderUserId, truename as trueName, mobile, startTime, endTime,
        classNum, willNum, money, joinNum, holdForm, teacherSource, manage_class.site,
        moneySource, outNewNum, inNewNum, otherNewNum, content, remark
        from manage_class
        left join user_profile
        on manage_class.leaderUserId=user_profile.id
        order by manage_class.id desc
    </select>
</mapper>
